*{
box-sizing: border-box;
}
body{
    margin: 0;
}
.navbar{
    display: flex;
    flex-flow: row wrap ;
    height: 100px;
    background-color:white;
    padding: 10px;
    justify-content: center;
   align-items: center;
}


body{font-family: 'Roboto', sans-serif;}

.logo{
    font-family: 'Lobster', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10%;
    color:#6b6c20;
    flex: 20%;
    text-align: center;
   
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color:#201e14;
    text-decoration:none;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover{
    color: #a6a84b;
    border-top: 4px solid #a6a84b;

}

#botao{
    margin-left: 5%;
    background:#6b6c20;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    

}

#botao:hover{
    border-top: none;
    background: #a6a84b;
}

.header{
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    background: #8d8138;
    justify-content: center;
    align-items:center;
  

}

.headline{
    margin-left: 10%;
    flex: 40%;
    text-align: center;
}

.titulo-headline{
    line-height: 50px;
}
#subtitle{
    line-height: 70px;
}
.headline p{
    color: #201e14;
    text-align: left;
}
.headline h2{
   color: #201e14; 
   padding: 0%;
   margin: 0%;

}

.botao-adote{
    background: #201e14;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
   
}

.botao-adote:hover{
    background-color: #6a6159;
}
.img-headline{
    
    margin-right: 10%;
    flex: 40%;
    text-align: right;
}

.section{
 
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    width: 90%;
}

.section h2{
  width: 100%;
  font-size: 50px;  
  font-family: 'Lobster', sans-serif;
  font-weight: bold;
  color: #6b6c20;
  margin: 0%;
}

.servicos{

    display: inline-block;
   margin-top: 5%;
   height: 400px;
   width: 100%;
   

}

.card{
    display: inline-block;
    width: 30%;
 
    padding: 10px;
    border: 1px solid cornflowerblue;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.card :hover{
    padding: 10px;
}

.texto-oculto{
    display: none;
}

.footer-back{
    margin-top: 100px;
    height: 300px;
    background-color: #6b6c20;
    text-align: center;
    align-items: center;
    
   
}
.whatsapp{
   width: 150px;
   position: fixed;
   bottom: 5px;
   right: 5px;
}